<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="team">
            <h2><span jhiTranslate="emotionsApp.team.detail.title">Team</span> {{ team.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="emotionsApp.team.name">Name</span></dt>
                <dd>
                    <span>{{ team.name }}</span>
                </dd>
                <dt><span jhiTranslate="emotionsApp.team.slogan">Slogan</span></dt>
                <dd>
                    <span>{{ team.slogan }}</span>
                </dd>
                <dt><span jhiTranslate="emotionsApp.team.region">Region</span></dt>
                <dd>
                    <span>{{ team.region }}</span>
                </dd>
                <dt><span jhiTranslate="emotionsApp.team.image">Image</span></dt>
                <dd>
                    <div *ngIf="team.image">
                        <a (click)="openFile(team.imageContentType, team.image)">
                            <img [src]="'data:' + team.imageContentType + ';base64,' + team.image" style="max-width: 100%;" alt="team image"/>
                        </a>
                        {{ team.imageContentType }}, {{ byteSize(team.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="emotionsApp.team.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of team.users; let last = last">
                        {{ user.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team', team.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
